<div class="home-container">
  <div class="create-new-task-button-container">
    <button mat-flat-button (click)="openDialog()">Create New Task</button>
  </div>
  <mat-accordion>
    @if (items.length === 0) {
      <div class="example-accordion-empty">No items found</div>
    }
    @if (items.length > 0) {
      @for (item of items; track item; let index = $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item.title }}</mat-panel-title>
            <mat-panel-description>{{ item.jiraUrl }}</mat-panel-description>
          </mat-expansion-panel-header>
          <app-todo-item [item]="item"></app-todo-item>
        </mat-expansion-panel>
      }
    }
  </mat-accordion>
</div>
