<mat-card appearance="outlined">
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Sprint</mat-label>
        <input matInput formControlName="formControl" placeholder="Ex: 1" />
        @if (formGroup.controls.formControl.hasError('required')) {
          <mat-error>Sprint is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <div>
        <p>Complete the form to enable button.</p>
        <button mat-flat-button type="submit" [disabled]="!formGroup.valid">Add</button>
        <button mat-flat-button (click)="dialogRef.close()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
